*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.perant{
width: 100%;
height: 50vh;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 5px;
}
header{
    width: 100%;
    height: 10vh;
    background-color: #d3d3d3;
    
}
main{
    margin-top: 10px;
    width: 100%;
    height: 38vh;
    background-color: #d3d3d3;
}
.perant2{
    width: 100%;
    height: 28vh;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 58%;
    height: 28vh;
    background-color: #d3d3d3;
}
.right{
    width: 40%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper{
    width: 100%;
    height: 13vh;
 display: flex;
    justify-content: space-between;
        
}
.son1{
    width: 20%;
    height: 13vh;
    background-color: #d3d3d3;
}
.son2{
    width: 35%;
    height: 13vh;
    background-color: #d3d3d3;
}
.son3{
    width: 20%;
    height: 13vh;
    background-color: #d3d3d3;
}
.lower{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;

}
.son4{
    width: 20%;
    height: 13vh;
    background-color: #d3d3d3;
}
.son5{
    width: 35%;
    height: 13vh;
    background-color: #d3d3d3;
}
.son6{
    width: 20%;
    height: 13vh;
    background-color: #d3d3d3;
}
footer{
    width: 100%;
    height: 19vh;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.prt1{
    width: 100%;
    height: 11vh;
    background-color: #d3d3d3;
}
.prt2{
    width: 100%;
    height: 5vh;
    background-color: #d3d3d3;
}