*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: white;
}
.layout2{
    width: 100%;
    height: 47vh;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.logo{
    width: 100%;
    height: 12vh;
    background-color: #d3d3d3;
}
.nav{
    width: 100%;
    height: 7vh;
    background-color: #d3d3d3;
}
.banner{
    width: 100%;
    height: 25vh;
    background-color: #d3d3d3;
}
.conteaner{
    width: 100%;
    height: 40vh;
    background-color: white;
    display: flex;
    gap: 2%;
}
.left{
    width: 33.3333%;
    height: 44vh;
    background-color: #d3d3d3;
}
.centar{
     width: 33.3333%;
    height: 44vh;
    background-color: #d3d3d3;
}
.right{
    width: 33.3333%;
    height: 44vh;
    background-color: #d3d3d3;
}
.footer1{
    width: 100%;
    height: 7vh;
    background-color: white;
   
    gap: 2%;


}

.footer{
    margin-top: 40px;
    width: 100%;
    height: 7vh;
background-color: #d3d3d3;
}