*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
header{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 25%;
    height: 7vh;
    background-color: #d3d3d3;

}
.right{
    width: 45%;
    height: 7vh;
    background-color: #d3d3d3;
}
main{
    width: 100%;
    height: 77vh;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.left-main{
    width: 45%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    
}
.box1{
    width: 40%;
    height: 45vh;
    background-color: #d3d3d3;
}
.box2{
    margin-top: 20px;
    width:40% ;
    height: 20vh;
    background-color: #d3d3d3;
}

.right-main{
    width:80% ;
    height: 77vh;
    background-color: #d3d3d3;
}
footer{
    width: 100%;
    height: 10vh;
    background-color: #d3d3d3;
    margin-top: 10px;
}