
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;

    nav{

        a{
            font-weight: bold;
            text-decoration: none;
            color: black;
            margin: 0 15px;
            font-size: 20px;
            font-family: "Open Sans", sans-serif;
        }
    }
}
section{
    width: 100%;
    /* height: 90vh; */
    background-color: #f1bb13;
    display: flex;
    justify-content: center;
    

    .container{
        width: 100%;
        /* height: 90vh; */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        img{
            width: 50%;
        }
    }

}
.right{
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;


.p1{
    font-size: 1.125rem;
                font-family: "Open Sans", sans-serif;
                padding-bottom: 10px;
                text-transform: uppercase;

    }
    h1{
        text-transform: uppercase;
    }
    span{
        color: #34365a;
    }
    h1{
        font-size: 800;
                        font-family: "Open Sans", sans-serif;

    }
    p{
                        font-family: "Open Sans", sans-serif;
                                padding-top: 5px;

a{
    color: black;
}
    }
    button{
        width: 200px;
        height: 45px;
        margin-top: 20px;
        background-color: #34365a;
        border-radius: 2rem;
        border: 0;
     }
}